body{
    font-family:Arial;
    background-color: rgba(95, 219, 236, 0.448);
}
.container{
    display:flex;
}
 nav a{
    flex:1;
     text-align: center;
     text-decoration: none;
     font-size: 30;
     color:white;
      font-weight: bold;
 }
 h1{
    font-family:arial;
    font-size:60;
    align-items: center;
  
  color: red;
 }
 p{
    color:red;
    font-size:30;
 }
 img{
    filter:grayscale(100%);
 }
 img:hover{
filter:none;
 }
 img{

  height: 200px;
  width: 50%;
 }
