body{
    font-family:Arial;
    background-color:white;
}
.container{
    display:flex;
}
 nav a{
    flex:1;
     text-align: center;
     text-decoration: none;
     font-size: 30;
     color:blue;
      font-weight: bold;
 }
 h1{
    font-family:arial;
    font-size:60;
    text-align: center;
  
  color: red;
 }
 p{
    color:red;
    font-size:30;
 }
 img{
    filter:grayscale(100%);
 }
 img:hover{
filter:none;
 }
 img{

  height: 200px;

 }
 h2{
   color:blue;
   font-size: 30;
 }
