body{
    font-family:Arial;
    background-color: rgba(95, 219, 236, 0.448);
}
.container{
    display:flex;
}
 nav a{
    flex:1;
     text-align: center;
     text-decoration: none;
     font-size: 25;
     color:white;
      font-weight: bold;
 }
 h1{
    font-family:arial;
    font-size:60;
    align-items: center;
  
  color: red;
 }
 p{
    color:red;
    font-size:28;
 }