body{
 font-family: 'Times New Roman', Times, serif;    background-color:white;
}
.container{
    display:flex;
}
 nav a{
    flex:1;
     text-align: center;
     text-decoration: none;
     font-size: 30;
     color:blue;
      font-weight: bold;
       font-family: 'Times New Roman', Times, serif;
      
 }
 h1{
    font-family:arial;
    font-size:60;
    text-align: center;
     font-family: 'Times New Roman', Times, serif;
  
  color: red;
 }
 p{
    color:red;
    font-size:30;
     font-family: 'Times New Roman', Times, serif;
 }
 img{
    filter:grayscale(100%);
 }
 img:hover{
filter:none;
 }
 img{

  height: 200px;

 }
 h2{
   color:blue;
   font-size: 30;
    font-family: 'Times New Roman', Times, serif;
 }
 .card p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 19pt;

 }.card{
  flex:1;
  margin:20px;
  border:solid 1px black;
}
